div.row.featurette
  div.col-md-12
    h2.featurette-heading 
      | Application Examples - Blinky Cam
div.row.featurette
  div.col-md-3
    img(src='/img/readmore/blinkyCam.jpg',width='100%') 
  div.col-md-3
    img(src='/img/readmore/blinkyCamStills.png',width='100%') 
  div.col-md-3
    img(src='/img/readmore/blinkyCamProps.png',width='100%') 
  div.col-md-3
    img(src='/img/readmore/blinkCamImg.png',width='100%') 
hr.featurette-divider
