div.row.featurette
  div.col-md-12
    h2.featurette-heading 
      | Application Examples - Fast Interlock
div.row.featurette
  div.col-md-3
    img(src='/img/readmore/windowInterlock.jpg',width='100%') 
  div.col-md-4
    img(src='/img/readmore/WindowInterlockFlow.png',width='100%') 
  div.col-md-2
    img(src='/img/readmore/WindowInterlockGui.png',width='100%') 
  div.col-md-3
    img(src='/img/readmore/WindowComparatorNode.png',width='100%') 
hr.featurette-divider
