div.row.featurette
  div.col-md-12
    h2.featurette-heading 
      | Application Examples - Vacuum Bakeout System
div.row.featurette
  div.col-md-3
    img(src='/img/readmore/bakeoutSys.jpg',width='100%') 
  div.col-md-3
    img(src='/img/readmore/bakeoutBox.jpg',width='100%') 
  div.col-md-3
    img(src='/img/readmore/BakeoutGui1.png',width='100%') 
  div.col-md-3
    img(src='/img/readmore/BakeoutGui2.png',width='100%') 
hr.featurette-divider
