div.row.featurette
  div.col-md-12
    h4.card-title 
      | Application Examples - Wireless Scale
div.row.featurette
  div.col-md-5
    img(src='/img/readmore/gg-scale.jpg',width='100%') 
  div.col-md-4
    img(src='/img/readmore/ScaleDisplay.png',width='100%') 
  div.col-md-3
    img(src='/img/readmore/ScaleArchiver.png',width='100%') 
hr.featurette-divider
