div.row.featurette
  div.col-md-7
    h4.card-title 
      | Blinky-Lite Components - 
      a(href='http://mqtt.org/', target='_blank') MQTT
    h5.card-major-bullet
      | A very popular IoT communication protocol is MQTT 
    ul
      li.card-minor-bullet
        | Message Queue Telemetry Transport 
      li.card-minor-bullet
        | ISO standard (ISO/IEC PRF 20922).  
    h5.card-major-bullet
      | MQTT was invented by IBM in 1999 for connecting oil pipelines over satellite connection and is now an open source platform. 
    ul
      li.card-minor-bullet
        | It is designed to be reliable, data-agnostic, and lightweight. 
      li.card-minor-bullet
        | It is quickly becoming the protocol of choice for IoT.   
  div.col-md-5
    img(src='/img/readmore/mqtt.png',width='100%') 

hr.featurette-divider
