div.row.featurette
  div.col-md-12
    h4.card-title Blinky-Lite Components - USB based microcontrollers
div.row.featurette
  div.col-md-2
    h6.card-title 
      a(href='https://store.arduino.cc/usa/arduino-uno-rev3') Arduino Uno
    img(src='/img/readmore/uno.jpg',width='100%') 
  div.col-md-2
    h6.card-title 
      a(href='https://store.arduino.cc/usa/arduino-nano') Arduino Nano
    img(src='/img/readmore/nano.jpg',width='100%') 
  div.col-md-2
    h6.card-title 
      a(href='https://store.arduino.cc/usa/arduino-mega-2560-rev3') Arduino Mega
    img(src='/img/readmore/mega.jpg',width='100%') 
  div.col-md-2
    h6.card-title 
      a(href='https://www.adafruit.com/product/2771') AdaFruit Feather
    img(src='/img/readmore/adafruitFeather32u.jpg',width='100%') 
  div.col-md-2
    h6.card-title 
      a(href='https://www.pjrc.com/store/teensy36.html') Teensy 3.6
    img(src='/img/readmore/teensy36.jpg',width='100%') 
hr.featurette-divider
