div.row.featurette
  div.col-md-7
    h4.card-title 
      | Blinky-Lite Components - 
      a(href='https://nodered.org/', target='_blank') Node-RED
    h5.card-major-bullet
      | Node-RED is a programming tool for wiring together hardware devices, APIs and online services in new and interesting ways. 
    h5.card-major-bullet
      | It provides a browser-based editor that makes it easy to wire together flows using the wide range of nodes in the palette that can be deployed to its runtime in a single-click. 
  div.col-md-5
    img(src='/img/readmore/nodeRed.png',width='100%') 

hr.featurette-divider
