div.row.featurette
  div.col-md-12
    h4.card-title 
      | Blinky-Lite Components - 
      a(href='https://www.raspberrypi.org/') Raspberry Pi
      span.card-title  3 and Zero
div.row.featurette
  div.col-md-2
    img(src='/img/readmore/raspi1.png',width='100%') 
  div.col-md-2
    img(src='/img/readmore/raspi2.png',width='100%') 
  div.col-md-2
    img(src='/img/readmore/raspi3.png',width='100%') 
  div.col-md-2
    img(src='/img/readmore/raspi4.png',width='100%') 
  div.col-md-2
    img(src='/img/readmore/raspi5.png',width='100%') 
hr.featurette-divider
