div.row.featurette
  div.col-md-12
    h4.card-title The Internet of Things (IoT)
    h5.card-major-bullet
      | Since 2010, a revolution has taken place outside the traditional controls community - the Internet of Things (IoT). 
    h5.card-major-bullet
      | While IoT is often ridiculed as a “computer in every refrigerator and toaster”
    ul
      li.card-minor-bullet
        | It has brought about an abundance of  low cost, high quality,  small form factor microcontrollers and computers.
      li.card-minor-bullet
        | These powerful computers can be deployed almost anywhere as low cost quasi-state machines. 
      li.card-minor-bullet
        | They consume on the order of  1  Watt of power and the built in wireless features  (2.4GHz 802.11n wireless and Bluetooth) minimizes the need for many control cables. 
hr.featurette-divider
