div.row.featurette
  div.col-md-12
    h2.featurette-heading The Problem
    h5.card-major-bullet
      | Today’s high-tech startup companies often require careful monitoring and control of research processes
    h5.card-major-bullet
      | Often currently available commercial control systems require
    ul
      li.card-minor-bullet
        | much customization requiring advanced IT skills to implement
      li.card-minor-bullet
        | large investment costs in hardware and software
      li.card-minor-bullet
        | recurring costs in license maintenance 
    h5.card-major-bullet
      | In addition, commercial control systems 
    ul
      li.card-minor-bullet
        | are often proprietary 
      li.card-minor-bullet
        | requiring significant costs in adapting control solutions to the rapidly changing needs of the a high-tech startup. 
    h5.card-major-bullet
      | In response, 
    ul
      li.card-minor-bullet
        | many high-tech startups avoid the headaches of automatic control and rely on staff to monitor and control research processes  
      li.card-minor-bullet
        | which in the long run is unreliable and costly  
hr.featurette-divider
