extends layout
block content
  .jumbotron
    h1.display-5.jumbotron-title Blinky-Lite Example Projects
  div.container.marketing
    include examples/applicationsKlystron.pug
    include examples/applicationsPower.pug
    include examples/applicationsBakeout.pug
    include examples/applicationsInterlock.pug
    include examples/applicationsCam.pug
    include examples/applicationsScale.pug
    include examples/applicationsScaleIndustrial.pug
