extends layout
block content
  div.container.marketing
    include readMoreSlides/theProblem.pug
    include readMoreSlides/theSolution.pug
    include readMoreSlides/iot.pug
    include readMoreSlides/architecture.pug
    include readMoreSlides/componentsRaspi.pug
    include readMoreSlides/componentsMicro.pug
    include readMoreSlides/componentsNodeRed.pug
    include readMoreSlides/componentsMQTT.pug
    include readMoreSlides/applicationsKlystron.pug
    include readMoreSlides/applicationsPower.pug
    include readMoreSlides/applicationsBakeout.pug
    include readMoreSlides/applicationsInterlock.pug
    include readMoreSlides/applicationsCam.pug
    include readMoreSlides/applicationsScale.pug
    include readMoreSlides/applicationsScaleIndustrial.pug
    include readMoreSlides/theFuture.pug
