body {
  background-color: #7395ae;
  padding-left:25px;
  padding-right:25px;
}
a {
  color: #444444;
}
img {
  object-fit: contain;
}
code {
  color: #cccccc;
  background-color: #333344;
  width: 100%;
  display: inline-block;
/*  overflow-x: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
}
.col-md {
  padding-bottom: 20px;
}
.jumbotron {
  background-color:#557a95 !important;
  color:#ffffff
}
.jumbotron-title
{
  color:#fdc300
}
.jumbotron-button
{
  color: #557a95;
  background-color: #bbbbbb;
}
.featurette-heading
{
  color:#eeeeee
}
.card
{
  background-color: #557a95;
  text-align: center;
  padding: 10px;
}
.card-body
{
  background-color: #bbbbbb;
}
.card-button
{
  color: #bbbbbb;
  background-color: #557a95
}
.card-title
{
  color: #ffbb33;
  font-weight: bold;
}
.card-major-bullet
{
  color: #000000;
  text-align: left;
}
.card-minor-bullet
{
  text-align: left;
}
.card-minor-minor-bullet {
	font-size: : small;
  font-style:italic;
  color: #5d5d5d;
}

.card-text
{
  text-align: left;
}
.card-subtext {
	margin-left: 18px;
	font: normal 90%;
}
.scrolling-wrapper {
  width: 100%;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.footer {
/*   position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   color:#fdc300;
   background-color: #7395ae;
   text-align: center;
}
